@model PresentationLayer.Mvc.Areas.Customer.Models.UserProfileViewModel

@{
    ViewBag.Title = "User Profile";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div>
                    <div class="card-header bg-primary text-white text-center">
                        <h3>User Profile</h3>
                    </div>
                    <div class="card-footer text-end">
                        <a href="@Url.Action("Index", "Order")">Display Orders</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <strong>Username:</strong> @Model.UserName
                    </div>
                    <div class="mb-3">
                        <strong>Email:</strong> @Model.Email
                    </div>
                    <div class="mb-3">
                        <strong>Bio:</strong>
                        <p>@Model.Bio</p>
                    </div>
                    <a href="@Url.Action("Edit", "User")" class="btn btn-warning w-100">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
